
<section id="contact">

    <!-- /contact-info -->



<div class="row section-intro">
    <div class="col-twelve">

        <h1>I'd Love To Hear From You.</h1>



    </div>
</div> <!-- /section-intro -->

<div class="row contact-form">

    <div class="col-twelve">

        <!-- form -->
        <form name="contactForm" id="contactForm" method="POST" action="{% url 'about' %}">
            {% csrf_token %}
            <fieldset>

                <div class="form-field">
                    <input name="contactName" type="text" id="contactName" placeholder="Name" value="" minlength="2"
                        required="">
                </div>
                <div class="form-field">
                    <input name="contactEmail" type="email" id="contactEmail" placeholder="Email" value="" required="">
                </div>
                <div class="form-field">
                    <input name="contactSubject" type="text" id="contactSubject" placeholder="Subject" value="">
                </div>
                <div class="form-field">
                    <textarea name="contactMessage" id="contactMessage" placeholder="message" rows="10" cols="50"
                        required=""></textarea>
                </div>
                <div class="form-field">
                    <button type="submit" class="submitform">Submit</button>
                    <div id="submit-loader">
                        <div class="text-loader">Sending...</div>
                        <div class="s-loader">
                            <div class="bounce1"></div>
                            <div class="bounce2"></div>
                            <div class="bounce3"></div>
                        </div>
                    </div>
                </div>

            </fieldset>
        </form> <!-- Form End -->

        <!-- contact-warning -->
        <div id="message-warning">
        </div>
        <!-- contact-success -->
        <div id="message-success">
            <i class="fa fa-check"></i>Your message was sent, thank you!<br>
        </div>

    </div> <!-- /col-twelve -->

</div> <!-- /contact-form -->

<div class="row contact-info">

    <div class="col-four tab-full">

        <div class="icon">
           <a href="https://github.com/shivam8368"><i class="fab fa-github"></i></a>
        </div>

        <h5>Visit My github</h5>

    

    </div>

    <div class="col-four tab-full ">

        <div class="icon">
            <a href="mailto:shivamk8368@gmail.com"><i class="icon-mail"></i></a>
        </div>

        <h5>Email Me At</h5>

        <p>shivamk8368@gmail.com<br>
        </p>

    </div>

    <div class="col-four tab-full">

        <div class="icon">
            <a href="https://www.linkedin.com/in/shivam-kushwaha-a4762b198/"><i class="fab fa-linkedin"></i></a>
        </div>

        <h5>Find me on LinkedIn</h5>

    </div>

</div>

</section>