
{% load static %}

<div class="row section-intro">


    <div class="col-twelve">

        <a class="back-button" href="{% url 'home' %}" style=" color: #fff;"><svg xmlns="http://www.w3.org/2000/svg" width="20"
                height="20" fill="currentColor" class="bi bi-house" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                    d="M2 13.5V7h1v6.5a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5V7h1v6.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5zm11-11V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z" />
                <path fill-rule="evenodd"
                    d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z" />
            </svg></a>

        <h5 style="margin-top: 40px;">About</h5>
        <h1>Let me introduce myself.</h1>

        <div class="intro-info">

            <img src="{% static 'images/profile-pic.svg' %}" alt="Profile Picture">

            <p class="lead">Hello, I'm Shivam. A<span style="color: #FF0077; " >   full-stack web developer </span> based in  Toronto, CA . I graduated from 
                Northern College of Applied Arts and Technology (Jan'21) with a Diploma in Computer Engineering, taught myself backend development an year ago and have successfully developed a few full stack projects in a year.  </p>

                <p class="lead">Take a look at my <a style="color: #FF0077; text-decoration:none" href="https://drive.google.com/file/d/1V9CmeWd8QcNgKGexKw4f5YZi-hjavQyY/view?usp=sharing"> resume</a> and my <a  style="color: #FF0077; text-decoration:none" href="https://github.com/shivam8368"> Github </a> account. I'm open for any further opportunity. You can contact me at
               <a style="color: #FF0077; text-decoration:none"  href="mailto:shivamk8368@gmail.com"> shivamk8368@gmail.com.</p></a>
        </div>

    </div>
</div>