{% load static %}


<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
       
    <link rel="stylesheet" href="{% static './css/project.css' %}">



  
    <title>Hello, world!</title>
</head>

<body class="main" >


    <div class="heading">
    <a class="back-button" href="{% url 'home' %}" style=" color: #fff; padding-top:-20px;"><svg xmlns="http://www.w3.org/2000/svg" width="20"
        height="20" fill="currentColor" class="bi bi-house" viewBox="0 0 16 16">
        <path fill-rule="evenodd"
            d="M2 13.5V7h1v6.5a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5V7h1v6.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5zm11-11V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z" />
        <path fill-rule="evenodd"
            d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z" />
    </svg></a>

        <h1 style="margin-top: 40px;">Project 1</h1>
    </div>







   

    
<div class="container">
    <!-- Stack the columns on mobile by making one full-width and the other half-width -->

    <!-- back to home -->
   


    <!-- back to home -->




    <div class="row img-row">
        <div class="col-sm-12 col-md-4">
        <img src="{{project.project_main_image.url}}" class="img-thumbnail main-image" alt="code image">
            <div class="main-buttons">


                

                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <div id="container1">
                            <button class="learn-more" onclick="location.href='{{project.project_url}}';">
                                <span class="circle" aria-hidden="true">
                                    <span class="icon arrow"></span>
                                </span>
                                <span class="button-text">Website</span>
                            </button>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <div id="container2">
                            <button class="learn-more" onclick="location.href='{{project.project_github_url}}'; ">
                                <span class="circle" aria-hidden="true">
                                    <span class="icon arrow"></span>
                                </span>
                                <span class="button-text">Github</span>
                            </button>
                        </div>
                    </div>
                </div>

            </div>


        </div>
        <div class="col-sm-12 col-md-8 main-content">
            
            <div class="content">
                <p class="disk-1">{{project.detail_discription}}</p>
            </div>

            <div class="btn-tag">
                <h4>Tech Used</h4>
            </div>

            <div class="tech-buttons">
                <button class="pure-material-button-outlined">{{project.tech_used_one}}</button>
                <button class="pure-material-button-outlined">{{project.tech_used_two}}</button>
                <button class="pure-material-button-outlined">{{project.tech_used_three}}</button>
                <button class="pure-material-button-outlined">{{project.tech_used_four}}</button>
                <button class="pure-material-button-outlined">{{project.tech_used_five}}</button>
                <button class="pure-material-button-outlined">{{project.tech_used_six}}</button>
            </div>

        </div>
    </div>

    <div class="img-feild1">
        <div class="img-heading1">
            <h2>Image-heading 1</h2>
        </div>

        <div class="row">
            <div class="col-sm-12 col-md-4">
                <div class="imageContainer">
                    <img src="{{project.project_ss_one.url}}" alt="..." class="img-thumbnail">
                </div>
            </div>
            <div class="col-sm-12 col-md-4">
                <div class="imageContainer">
                    <img src="{{project.project_ss_two.url}}" alt="..." class="img-thumbnail">
                </div>
            </div>
            <div class="col-sm-12 col-md-4">
            <div class="imageContainer">
                <img src="{{project.project_ss_three.url}}" alt="..." class="img-thumbnail">
            </div>
            </div>
        </div>

    </div>


    <div class="img-feild1">
        <div class="img-heading1">
            <h2>Image-heading 1</h2>
        </div>
    
        <div class="row">
            <div class="col-sm-12 col-md-4">
                <div class="imageContainer">
                    <img src="{{project.project_ss_four.url}}" alt="..." class="img-thumbnail">
                </div>
            </div>
            <div class="col-sm-12 col-md-4">
                <div class="imageContainer">
                    <img src="{{project.project_ss_five.url}}" alt="..." class="img-thumbnail">
                </div>
            </div>
            <div class="col-sm-12 col-md-4">
            <div class="imageContainer">
                <img src="{{project.project_ss_six.url}}" alt="..." class="img-thumbnail">
            </div>
            </div>
        </div>
        
    </div>


</div>







    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
        <script src="{% static 'project.js' %}"></script>
</body>

</html>