
{% extends '../../base.html' %}



{% block content %}

    <section id="intro">
    
        <div class="intro-overlay"></div>
    
        <div class="intro-content">
            <div class="row">
    
                <div class="col-twelve">
    
                    <h5>Hello, World.</h5>
                    <h1>I'm Shivam Kushwaha.</h1>
    
                    <p class="intro-position">
                        <span>A Full-Stack Web Developer</span>
                        
                    </p>

                </div>
    
                           
                
    
            </div>

            <div class="wrapper">
                <div class="button">
                    <div class="icon">
                        <i class="fab fa-github"></i>
                    </div>
                    <span>Github</span>
                </div>
                <div class="button">
                    <div class="icon">
                        <i class="fab fa-linkedin-in"></i>
                    </div>
                    <span>LinkedIn</span>
                </div>
                <div class="button">
                    <div class="icon">
                        <i class="fas fa-briefcase"></i>
                    </div>
                    <span>Portfolio</span>
                </div>
                <div class="button">
                    <div class="icon">
                        <i class="far fa-file-pdf"></i>
                    </div>
                    <span>Resume</span>
                </div>
                <div class="button">
                    <div class="icon">
                        <i class="fas fa-user-astronaut"></i>
                    </div>
                    <span>About Me</span>
                </div>
            </div>
            </div> <!-- /intro-content -->


        

        


    
        
    
    </section>
    

{% endblock %}